@import url(snackbar.css);
@import url('https://rsms.me/inter/inter.css'); /* Font import*/
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body, html {
  background: rgb(252, 252, 252);
  font-family: 'Inter', sans-serif;
  color: rgb(19, 19, 19);
}

.hotdogdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotdog {
  max-width: 50%;
}

.hotdog--top {
  align-self: flex-start;
}

.hotdog--bottom {
  align-self: flex-end;
}