@import url(animation.css);
@import url('https://rsms.me/inter/inter.css'); /* Font import*/
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body, html {
  background: rgb(252, 252, 252);
  font-family: 'Inter', sans-serif;
  color: rgb(19, 19, 19);
  transition: background-color 0.2s;
}

.dark {
  background: rgb(50, 54, 57);
  color: rgb(84, 88, 91);
  transition: background-color 0.2s;
  
}

/*Snackbar css*/
.snackbar {
  min-width: 250px; 
 
  background-color: rgb(37, 37, 37); 
  color: rgb(255, 255, 255); 
  text-align: right; 
  border-radius: 2px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  right: 2%;
  bottom: 30px;
  border-radius: 10px;
  font-size: 75%;
}

@media screen and (max-width: 992px) {
  .snackbar {
  max-width: 30%; 
 
  background-color: rgb(37, 37, 37); 
  color: rgb(255, 255, 255); 
  text-align: right; 
  border-radius: 2px; 
  padding: 9px; 
  position: fixed; 
  z-index: 1; 
  right: 2%;
  bottom: 30px;
  border-radius: 10px;
  font-size: 60%;
}
}


a:link {
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(243, 243, 243);
}

a:hover {
  color: rgb(243, 243, 243);
}

a:active {
  color: rgb(243, 243, 243);
}

/*End*/

.hotdogdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotdog {
  width: 210px;
  height: 210px;
  background: url(https://mrzsemle.github.io/E-HotDog/img/hotdog.svg);
  user-select: none;
  margin-top: calc(50vh - 210px / 1.5);
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -webkit-touch-callout: none;
  filter: drop-shadow(8px 8px 40px rgba(0, 0, 0, 0.175));
  
}

.stat {
  position: relative;
}

.stats {
  position: fixed;
  font-size: 10px;
  color: rgb(221, 221, 221);
  right: 10px;
  text-align: right;
  transition: color 0.2s;
  display: block;
  user-select: none;
}

.statsdark {
  position: fixed;
  font-size: 10px;
  color: rgb(84, 88, 91);
  right: 10px;
  text-align: right;
  transition: color 0.2s;
}

.credit {
  position: relative;
}

.animation {
	-webkit-animation: animation 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	animation: animation 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.a{
  animation: a 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.ar{
  animation: ar 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.ac{
  animation: ac 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.acr{
  animation: acr 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.copyright {
  color: rgba(14, 14, 14, 0.350);
  font-size: 8px;
  cursor: default;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.copyrd {
  color: rgb(64, 68, 71);
  font-size: 50%;
  cursor: default;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  left: calc(50% - 122px / 2);
  bottom: 5%;
}